{% extends 'base.html.twig' %}


{% block title %}Ajouter une adresse{% endblock %}

{% block body %}

 {% include "partials/_navbar.html.twig" %}

<h1 class="text-center mt-3">Ajout d'une adresse</h1>

<main class="form-signin w-50 m-auto">

{{ form(form) }}

<hr>


<a class="btn btn-primary btn-lg w-100 mt-2" href={{path('app_account')}}>Retour à mon compte<a><br>
</main>



 {% include "partials/_footer.html.twig" %}

{% endblock %}

