{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}

 {% include "partials/_navbar.html.twig" %}


<h1 class="text-center mt-3">Modifier mon mot de passe</h1>

<hr>

<main class="form-signin w-50 m-auto">

{% if notification %}

<div class='alert alert-info'>{{ notification }}</div>

{% endif %}

{{ form(form)}}
<hr>

<a class="btn btn-primary btn-lg w-100 mt-2" href={{path('app_account')}}>Retourner à mon compte <a><br>

</main>

 {% include "partials/_footer.html.twig" %}
{% endblock %}
