{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

 {% include "partials/_navbar.html.twig" %}

<h1>Inscription</h1>

{{ form(form) }}

 {% include "partials/_footer.html.twig" %}


{% endblock %}
