  <footer class="footer">
    {# <p class="float-end"><a href="#">Retour haut de page</a></p> #}
    <p>&copy; 2022–2023 Examen<br>
     &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>