body{

    margin: 0;
    padding: 0;
}



.footer{
    
    text-align: center;
    
    background-color:  #3157d6 ;
    bottom: 0;
    width: 100%;
    padding-top: 25px; 
    padding-bottom: 15px;
    margin-top: 220px; 
  
}

.footer p,.footer a,.header nav a{
    background-color: #3157d6;
    color : white;
}

/* .header nav p{
    background-color: #b6bba4;
    color :  white;
} */

.product-container{

    margin-bottom: 250px;
}


.header{
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #3157d6 ;
   
    
 }



.total-cart{

    padding-left: 100px;
}



.form-form{

    background-color: white ;
    padding: 20px 65px;
    margin-top: 7px; 
    /* color: whitesmoke; */
    margin-right: 10px;
    border-radius: 20px;
}



.col-form-label {
    font-weight: bold;
}

.form-check-2{

    background-color: white ;
    padding: 15px;
    margin-top: 7px;
    /* color: whitesmoke; */
    margin-left: 10px;
    border-radius: 20px;
}



.btn-cart-empty{
    text-decoration: none;
    color: black;
}

.payer{

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

body{
    background-color: #f2f4fa ;
}

.btn-register{

    margin-top: 100px ;
    text-decoration: none;
    text-align: justify;
}

.voir-ma-commande{
    /* text-decoration: none; */
    color:black;
}

.order-recap{
    text-align: end;
    margin-right: 100px;
}


/* .button {

     background-color: #3157d6 ;
     color:white; 
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
} */


.form-contact{

    margin-left: 15px;
    width: 80%;
    margin-top: 10px;
}


.gauche {
	float: left;
	margin-right: 30px;
    width: 400px;
	height: 250px;
    
}

.droite {
	float: right;
	margin-left: 30px;
    width: 400px;
	height: 250px;
    margin-top: 15 px;
    
  
}

.video{
    margin-top: 30px;
    width: 100%;
    height: 650px;
}

section {

    padding-left: 10%;
    padding-right: 10%;
} 

.dropdown{
    color:  #3157d6; 
}

.product{
  width: 95%;
  margin-left: 2%;
}

.one-product{
    width: 95%;
    margin-left: 2%;
  }

  .image{

    width: 200px;
    height: 250px;
  }

  .one-image{

    width: 400px;
    height: 800px;
  }



  /*RESPONSIVE*/
@media screen and (max-width:420px){
  
section{
      width: 100%;
    }

      .gauche{
        padding-right: 10%;
    }

}














